@font-face {
  font-family: "OfficinaSansC";
  src: url("../fonts/OfficinaSansBlackC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OfficinaSansC";
  src: url("../fonts/OfficinaSansMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OfficinaSansC";
  src: url("../fonts/OfficinaSansBoldC.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OfficinaSansBookC";
  src: url("../fonts/OfficinaSansBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
