@media (max-width: 1440px) {
  .header-section {
    background-position-x: left, 168%;
  }
}
@media (max-width: 1280px) {
  .reviews-section .swiper-container .swiper-slide {
    max-width: none;
  }
}
@media (max-width: 1112px) {
  .header-section {
    background-position-x: left, 350%;
  }
  .header-section .nav-callback .callback-button {
    padding-right: 0px;
    padding-left: 15px;
    box-shadow: none;
    background-color: transparent;
  }
  .header-section .nav-callback .callback-button .button-content {
    display: none;
  }
  .benefits-section {
    background-image: url(../../img/benefits-bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .types-of-training .card-row .row .col-6:last-child {
    padding-right: 0px;
  }
  .types-of-training .card-row .row .col-6:first-child {
    padding-left: 0px;
  }
}
@media (max-width: 1024px) {
  #sign-up-modal {
    .modal-dialog {
      .modal-content {
        .modal-form-title {
          margin-left: 0;
        }
        .modal-form-subtitle {
          margin-left: 0;
        }
        .modal-form-content {
          margin-left: 0;
          padding-left: 0;
        }
        .row {
          .col-6 {
            justify-content: center;
            display: flex;
            flex: 0 0 100%;
            max-width: 100%;
            &:last-child {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .header-section {
    background-position-x: left, 612px;
  }
  .tickets-section .tickets-row {
    .col-4 {
      max-width: 50%;
      flex: 0 0 50%;
      justify-content: center;
      display: flex;
      &:last-child {
        margin-top: 78px;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 968px) {
  .reviews-section .swiper-container .swiper-slide .slide-image {
    width: 400px;
    height: 450px;
  }
  .reviews-section .swiper-container .swiper-slide .slide-content {
    width: auto;
  }
}
@media (max-width: 834px) {
  .reviews-section .swiper-container .swiper-slide .slide-content {
    height: 472px;
    flex-direction: column;
    .slide-image,
    .slide-info {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
    .slide-image {
      max-height: 256px;
      border-radius: 20px 20px 0 0;
    }
  }
  #aniimated-thumbnials {
    .gallery-img {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .header-section {
    background-position-x: -78px, 612px;
  }
  .hockey-as-effective .row-container.middle .info-panel:not(.end) {
    margin-left: 0;
  }
  .hockey-as-effective .info-wrapper .info-panel .panel-item .item-title {
    text-align: left;
  }
  .hockey-as-effective .info-wrapper .info-panel .panel-item .item-description {
    text-align: left;
  }
  .hockey-as-effective .row-container.small .info-panel:not(.end) {
    margin-left: 0;
  }
  .hockey-as-effective .info-wrapper .info-panel .panel-item {
    align-items: flex-start;
  }
  .hockey-as-effective .info-wrapper .info-panel.end {
    justify-content: flex-start;
  }
  .hockey-as-effective .row-container.small .info-panel {
    margin-left: 0;
  }
  .hockey-as-effective .info-wrapper img {
    display: none;
  }
  .hockey-as-effective .info-wrapper {
    padding-top: 32px;
  }
  .hockey-as-effective .row-container.middle {
    margin-bottom: 48px;
  }
  .benefits-section {
    margin-top: 78px;
    padding-top: 42px;
    padding-bottom: 40px;
    background-size: cover;
  }
  .benefits-section {
    .benefis-grid {
      .grid-item {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .benefits-section .benefis-grid .grid-panel .panel-description {
    br {
      display: none;
    }
  }
  .benefits-section .benefis-grid .grid-panel {
    max-width: 250px;
  }
  .types-of-training .card-row:after {
    content: "";
  }
  .types-of-training .card-row .row .col-6:first-child {
    max-width: 100%;
    flex: 0 0 100%;
    justify-content: center;
    margin-bottom: 88px;
  }

  .types-of-training .card-row .row .col-6:last-child {
    max-width: 100%;
    flex: 0 0 100%;
    justify-content: center;
  }
  .types-of-training {
    padding-top: 32px;
  }
  .header-section .header-nav .row .col-7 {
    display: none !important;
  }
  .header-section .header-nav .row .col-3 {
    width: auto;
    padding: 0;
    flex: none;
    display: flex;
    align-items: center;
    max-width: none;
  }
  .header-section .header-nav .row .col-2 {
    width: auto;
    padding: 0;
    flex: none;
    max-width: none;
  }
  .header-section .header-nav .row {
    justify-content: space-between;
  }
  .header-section .header-nav .nav-callback {
    display: none;
  }
  #hamburger-button {
    display: inline-block !important;
  }
}
@media (max-width: 812px) {
}
@media (max-width: 768px) {
  .treners-section .treners-row .trener-photo.end {
    justify-content: center;
  }
  .treners-section .treners-row .trener-photo.start {
    justify-content: center;
  }
  .treners-section {
    background-image: url(../../img/treners-bg-right.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
  }
  #aniimated-thumbnials {
    .gallery-img {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
}
@media (max-width: 736px) {
  .gallery-section .gallery-header .header-actions {
    justify-content: flex-start;
  }
  .gallery-section .gallery-header .header-actions .action-button {
    margin-left: 0;
    margin-right: 16px;
  }
  .treners-section {
    background-image: none;
  }
}
@media (max-width: 667px) {
  .reviews-section
    .swiper-container
    .swiper-slide
    .slide-info
    .info-caption
    .caption-wrapper
    .profile-location {
    overflow: hidden;
    max-height: 78px;
  }
  .benefits-section .benefis-grid .grid-item {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .header-section .header-nav .row {
    padding: 0 16px;
  }
}
@media (max-width: 568px) {
  .reviews-section .swiper-container .wrapper-actions .swiper-btn {
    display: none;
  }
  .modal-content .modal-form-subtitle {
    font-size: 16px;
    line-height: 16px;
  }
  .modal-content .modal-form-content .sign-btn {
    width: 100% !important;
  }
  .modal-content .modal-form-content .input-wrapper {
    width: auto;
    max-width: none;
  }
  #sign-up-modal .modal-dialog .modal-content .modal-form-title {
    br {
      display: none;
    }
  }
  #sign-up-modal .modal-dialog .modal-content .modal-form-subtitle {
    br {
      display: none;
    }
  }
  .header-section .header-preview .preview-button {
    padding: 0 16px;
    width: auto;
  }
  #aniimated-thumbnials {
    .gallery-img {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .tickets-section .tickets-row {
    .col-4 {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 64px;
      &:last-child {
        margin-top: 0;
      }
    }
  }
  .header-section .header-preview .preview-list .list-item .item-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .header-section .header-preview .preview-title {
    font-size: 48px;
    line-height: 48px;
  }
  .benefits-section .section-title {
    font-size: 38px;
    line-height: 38px;
  }

  .header-section .header-preview .preview-list .list-item span {
    font-size: 20px;
  }
  #callback-modal {
    .modal-dialog {
      .modal-content {
        .modal-form-content .sign-btn {
          margin-top: 8px;
        }
        .modal-form-content .form-agree .agree-check .checkbox + label span {
          font-size: 16px;
        }
        .modal-form-content .sign-btn {
          font-size: 14px;
        }
        .modal-form-title {
          margin-top: 16px;
          br {
            display: none;
          }
          font-size: 28px !important;
        }
        .modal-form-subtitle {
          br {
            display: none;
          }
          font-size: 18px !important;
          line-height: 18px !important;
        }
      }
    }
  }
  #sign-up-modal {
    .modal-dialog {
      .modal-content {
        .modal-form-content .sign-btn {
          margin-top: 8px;
        }
        .modal-form-content .form-agree .agree-check .checkbox + label span {
          font-size: 16px;
        }
        .modal-form-content .sign-btn {
          font-size: 14px;
        }
        .modal-form-title {
          br {
            display: none;
          }
          font-size: 28px !important;
        }
        .modal-form-subtitle {
          br {
            display: none;
          }
          font-size: 18px !important;
          line-height: 18px !important;
        }
      }
    }
  }
  .modal-content .modal-form-content .sign-btn {
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  .types-of-training .card-row .info-card .card-header img {
    display: none;
  }
  .types-of-training .card-row .info-card .card-footer .footer-description {
    br {
      display: none;
    }
  }
  .treners-section .treners-row .trener-info .info-contact {
    flex-wrap: wrap;
  }
  #aniimated-thumbnials {
    .gallery-img {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .hockey-as-effective .section-title {
    font-size: 38px;
    line-height: 38px;
    br {
      display: none;
    }
  }
  .treners-section .treners-row .trener-info .info-contact .contact-vk {
    margin-right: 0;
    width: auto;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .treners-section .treners-row .trener-info .info-contact .contact-phone {
    margin-top: 16px;
    flex: 0 0 100%;
    max-width: 100%;
    width: auto;
  }
  .gallery-section .gallery-header .header-actions {
    flex-wrap: wrap;
  }

  .gallery-section .gallery-header .header-actions .action-button {
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  #callback-modal
    .modal-dialog
    .modal-content
    .modal-form-content
    .form-agree
    .agree-check
    .checkbox
    + label
    span {
    font-size: 12px;
  }
  #callback-modal .modal-dialog .modal-content .modal-form-content .sign-btn {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
}
